@media screen and (max-width:768px) {
    .navbar-toggler-icon{
        background-color: gray;
    }

    header .navbar{
        background-color: black;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
    }

    header .texte{
        padding-top: 15%;
    }

    #logo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #logo img{
        width: 60%;
        margin: 5% 0;
    }

    #contact .msg{
        padding: 0;
    }

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}